@import '~@dword-design/reset-sass/src/index.scss';

.link {
  stroke: #000;
  stroke-width: 2px;
  stroke-opacity: .5;
  marker-end: url(#end-arrow);
}

.label {
    fill: #000;
    font-family: Verdana;
    font-size: 10px;
    text-anchor: middle;
    cursor: move;
}

.group {
  fill: rgba(0,0,0, .1);
  cursor: move;
  opacity: 0.7;
}

.group-label {
    fill: #000;
    font-family: Verdana;
    font-size: 10px;
    text-anchor: middle;
    cursor: move;
}
