@import '~@dword-design/reset-sass';

html {
  font-size: 14px;
  height: 100%;
}

body {
  height: 100%;
}

.fade-enter-active {
  transition: all .3s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}
